<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268711884595-3d9cpjffc7otvcdhu4dg2pho5kbn5ik2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268711884595-3d9cpjffc7otvcdhu4dg2pho5kbn5ik2</string>
	<key>API_KEY</key>
	<string>AIzaSyCbsox4Ozzu1vIGwk_f76x1mJoO1tQD7ag</string>
	<key>GCM_SENDER_ID</key>
	<string>268711884595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hughdrummond.Social-Timetable.ShareTimetable</string>
	<key>PROJECT_ID</key>
	<string>social-timetable-85d65</string>
	<key>STORAGE_BUCKET</key>
	<string>social-timetable-85d65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:268711884595:ios:1164d1c5db6134a416b046</string>
</dict>
</plist>
